---
layout: default
title: Home
---

<div class="posts">
	{% for post in paginator.posts %}
	<article class="post">
		<h1 class="post-title">
			<a href="{{ site.baseurl }}{{ post.url }}">
				{{ post.title }}
			</a>
		</h1>

		<time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

		{% if post.content contains "<!-- more -->" %}
		{{ post.content | split:"<!-- more -->" | first % }}
		<a href="{{ site.baseurl }}{{ post.url }}">read more...</a>
		{% else %}
		{{ post.content }}
		{% endif %}
	</article>
	{% endfor %}
</div>

<div class="pagination">
	{% if paginator.next_page %}
		<a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}"><i class="fa fa-long-arrow-left"></i> Previous posts</a>
	{% else %}
		<span class="pagination-item older"><i class="fa fa-long-arrow-left"></i> Previous posts</span>
	{% endif %}
	{% if paginator.previous_page %}
	{% if paginator.page == 2 %}
		<a class="pagination-item newer" href="{{ site.baseurl }}/">Newer posts <i class="fa fa-long-arrow-right"></i></a>
	{% else %}
		<a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts <i class="fa fa-long-arrow-right"></i></a>
	{% endif %}
	{% else %}
		<span class="pagination-item newer">Newer posts <i class="fa fa-long-arrow-right"></i></span>
	{% endif %}
</div>
